:root {
  --white-color: hsl(0, 0%, 100%);
  --light-blue-color: hsla(183, 82%, 33%, 0.549);
  --dark-blue-color: hsla(183, 82%, 33%, 0.616);
  --light-green-color: hsl(154, 47%, 66%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white-color)
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Welcome Component */
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome h1 {
  color: var(--light-green-color);
  margin-bottom: 1em;
  font-size: 4rem;
}

.welcome button {
  font-size: 2rem;
  font-weight: bold;
  min-width: 18em;
  padding: 1em 2em;
  background-color: var(--light-blue-color);
  color: hsl(0, 0%, 100%);
  border: 0px;
  border-radius: 45px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.welcome button:hover {
  background-color: var(--dark-blue-color);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* Quiz Component */

.quiz {
  margin: 1em;
  padding: 5em;
  background-color: var(--light-green-color);
  border-radius: 70px;
}

.quiz-question {
  font-size: 1.5rem;
  min-width: 60%;
  padding: 3em 2em;
  margin-bottom: 4em;
  background-color: var(--light-blue-color);
  color: hsl(0, 0%, 100%);
  border-radius: 25px;
}

.quiz-answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5em;
}

.quiz-answers-button {
  font-size: 1em;
  font-weight: 800;
  padding: 2em 2em;
  background-color: var(--light-blue-color);
  color: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.quiz-answers-button:hover {
  background-color: var(--dark-blue-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.correct-answer, .correct-answer:hover {
  background-color: hsl(120, 96%, 56%);
}

.wrong-answer, .wrong-answer:hover {
  background-color: hsl(0, 100%, 63%);
}
