:root {
  --white-color: hsl(0, 0%, 100%);
  --clr-heading: hsl(154, 47%, 66%);
  --clr-background: linear-gradient(90deg, hsl(222, 60%, 61%), hsl(213deg 94% 72%));
  --clr-right-answer: hsl(120, 96%, 56%);;
  --clr-wrong-answer: hsl(0, 100%, 63%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white-color)
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* Welcome Component */
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 23%;
}

.welcome h1 {
  color: var(--clr-heading);
  margin-bottom: 1em;
  font-size: 4rem;
  letter-spacing: 0.125em;
}

.welcome button {
  font-size: 2rem;
  font-weight: bold;
  min-width: 100%;
  color: hsl(0, 0%, 100%);
  border: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background: var(--clr-background);
  border-radius: 5px;
  padding: 0.7em;
}

.welcome button:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.welcome-select {
  margin-bottom: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
}

.welcome-select-2 {
  width: 100%;
  margin-bottom: 2rem;
}

.welcome-select-options {
  text-align: center;
}

.welcome-select-choose {
  margin-bottom: 0.3em;
}

/* Quiz Component */

.quiz {
  min-width: 70vw;
  margin: 1em;
  padding: 5em;
  border-radius: 70px;
}

.quiz-question {
  font-size: clamp(1rem, 1.2vw, 1.4rem);
  min-width: 60%;
  padding: 3em 2em;
  margin-bottom: 4em;
  color: hsl(0, 0%, 100%);
  background: var(--clr-background);
  border-radius: 15px;
  text-align: center;
}

.quiz-answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5em;
}

.quiz-answers-button {
  font-size: clamp(0.7rem, 1.2vw, 1.125rem);
  font-weight: bold;
  color: #fff;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  background: var(--clr-background);
  border-radius: 9px;
  padding: 1.2em 0;
}

.quiz-answers-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.correct-answer, .correct-answer:hover {
  background: var(--clr-right-answer);
}

.wrong-answer, .wrong-answer:hover {
  background: var(--clr-wrong-answer);
}

.quiz-next-question {
  text-align: center;
  margin-top: 2em;
  position: absolute;
  left: 0;
  right: 0;
}

.quiz-btn {
  font-size: clamp(.7rem, 1.1vw, 1.4rem);
  font-weight: bold;
  padding: 0.7em 5em;
  border-radius: 5px;
  border: none;
  background: var(--clr-background);
  color: #fff;
}

/* PlayAgain */

.playAgain {
  text-align: center;
}

.playAgain button {
  background: var(--clr-background);
  border: none;
  padding: 1em 5em;
  color: #fff;
  border-radius: 5px;
  font-size: clamp(1rem,1.2vw, 1.2rem);
  font-weight: 900;
}

.playAgain h1 {
  color: var(--clr-heading);
  font-size: clamp(2rem, 2.2vw, 3rem);
  margin-bottom: 1em;
  text-align: left;
}