* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

/* Welcome Component */

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.welcome h1 {
  color: #7fd1ae;
  margin-bottom: 1em;
  font-size: 4rem;
}

.welcome button {
  font-size: 2rem;
  font-weight: bold;
  min-width: 18em;
  padding: 1em 2em;
  background-color: #0f93998c;
  color: #fff;
  border: 0px;
  border-radius: 45px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.welcome button:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}